
<div class="form-group">
    <div class="panel-group" id="accordionConsumerTracts">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionConsumerTracts" href="#collapse51">
                        Location
                    </a>
                </h4>
            </div>
            <div id="collapse51" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="cbBoroughCP">
                                <input id="cbBoroughCP" type="checkbox">Borough
                            </label>
                            <input type="text" id="txtBoroughsCP" placeholder="Select Borough" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="cbDistrictCP">
                                <input id="cbDistrictCP" type="checkbox">Community District
                            </label>
                            <input type="text" id="txtDistrictsCP" placeholder="Select Community District" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionConsumerTracts" href="#collapse52">
                        Demographics
                    </a>
                </h4>
            </div>
            <div id="collapse52" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP05_0001E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP05_0001E">
                                    <input id="cbDP05_0001E" type="checkbox">Total population:
                                    <input type="text" id="txtDP05_0001E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP05_0001E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP05_0002E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP05_0002E">
                                    <input id="cbDP05_0002E" type="checkbox">Male:
                                    <input type="text" id="txtDP05_0002E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP05_0002E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP05_0003E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP05_0003E">
                                    <input id="cbDP05_0003E" type="checkbox">Female:
                                    <input type="text" id="txtDP05_0003E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP05_0003E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP05_0004E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP05_0004E">
                                    <input id="cbDP05_0004E" type="checkbox">Sex ratio (males per 100 females):
                                    <input type="text" id="txtDP05_0004E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP05_0004E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP05_0009E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP05_0009E">
                                    <input id="cbDP05_0009E" type="checkbox">20 to 24 years:
                                    <input type="text" id="txtDP05_0009E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP05_0009E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP05_0010E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP05_0010E">
                                    <input id="cbDP05_0010E" type="checkbox">25 to 34 years:
                                    <input type="text" id="txtDP05_0010E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP05_0010E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP05_0011E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP05_0011E">
                                    <input id="cbDP05_0011E" type="checkbox">35 to 44 years:
                                    <input type="text" id="txtDP05_0011E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP05_0011E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP05_0012E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP05_0012E">
                                    <input id="cbDP05_0012E" type="checkbox">45 to 54 years:
                                    <input type="text" id="txtDP05_0012E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP05_0012E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP05_0013E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP05_0013E">
                                    <input id="cbDP05_0013E" type="checkbox">55 to 59 years:
                                    <input type="text" id="txtDP05_0013E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP05_0013E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP05_0014E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP05_0014E">
                                    <input id="cbDP05_0014E" type="checkbox">60 to 64 years:
                                    <input type="text" id="txtDP05_0014E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP05_0014E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP05_0015E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP05_0015E">
                                    <input id="cbDP05_0015E" type="checkbox">65 to 74 years:
                                    <input type="text" id="txtDP05_0015E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP05_0015E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP05_0016E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP05_0016E">
                                    <input id="cbDP05_0016E" type="checkbox">75 to 84 years:
                                    <input type="text" id="txtDP05_0016E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP05_0016E"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionConsumerTracts" href="#collapse53">
                        Social
                    </a>
                </h4>
            </div>
            <div id="collapse53" class="panel-collapse collapse">
                <div class="panel-body">
                    <h2>Household Type</h2>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0001E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0001E">
                                    <input id="cbDP02_0001E" type="checkbox">Total households:
                                    <input type="text" id="txtDP02_0001E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0001E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0002E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0002E">
                                    <input id="cbDP02_0002E" type="checkbox">Family households (families):
                                    <input type="text" id="txtDP02_0002E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0002E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0003E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0003E">
                                    <input id="cbDP02_0003E" type="checkbox">With own children of the householder under 18 years:
                                    <input type="text" id="txtDP02_0003E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0003E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0006E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0006E">
                                    <input id="cbDP02_0006E" type="checkbox">Male householder, no wife present, family:
                                    <input type="text" id="txtDP02_0006E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0006E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0008E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0008E">
                                    <input id="cbDP02_0008E" type="checkbox">Female householder, no husband present, family:
                                    <input type="text" id="txtDP02_0008E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0008E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0010E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0010E">
                                    <input id="cbDP02_0010E" type="checkbox">Nonfamily households:
                                    <input type="text" id="txtDP02_0010E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0010E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0011E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0011E">
                                    <input id="cbDP02_0011E" type="checkbox">Householder living alone:
                                    <input type="text" id="txtDP02_0011E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0011E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0012E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0012E">
                                    <input id="cbDP02_0012E" type="checkbox">65 years and over:
                                    <input type="text" id="txtDP02_0012E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0012E"></div>
                        </div>
                    </div>
                    <h2>Marital Status</h2>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0024E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0024E">
                                    <input id="cbDP02_0024E" type="checkbox">Males 15 years and over:
                                    <input type="text" id="txtDP02_0024E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0024E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0025E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0025E">
                                    <input id="cbDP02_0025E" type="checkbox">Never married:
                                    <input type="text" id="txtDP02_0025E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0025E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0026E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0026E">
                                    <input id="cbDP02_0026E" type="checkbox">Now married, except separated:
                                    <input type="text" id="txtDP02_0026E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0026E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0027E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0027E">
                                    <input id="cbDP02_0027E" type="checkbox">Separated:
                                    <input type="text" id="txtDP02_0027E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0027E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0028E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0028E">
                                    <input id="cbDP02_0028E" type="checkbox">Widowed:
                                    <input type="text" id="txtDP02_0028E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0028E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0029E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0029E">
                                    <input id="cbDP02_0029E" type="checkbox">Divorced:
                                    <input type="text" id="txtDP02_0029E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0029E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0030E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0030E">
                                    <input id="cbDP02_0030E" type="checkbox">Females 15 years and over:
                                    <input type="text" id="txtDP02_0030E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0030E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0031E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0031E">
                                    <input id="cbDP02_0031E" type="checkbox">Never married:
                                    <input type="text" id="txtDP02_0031E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0031E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0032E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0032E">
                                    <input id="cbDP02_0032E" type="checkbox">Now married, except separated:
                                    <input type="text" id="txtDP02_0032E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0032E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0033E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0033E">
                                    <input id="cbDP02_0033E" type="checkbox">Separated:
                                    <input type="text" id="txtDP02_0033E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0033E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0034E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0034E">
                                    <input id="cbDP02_0034E" type="checkbox">Widowed:
                                    <input type="text" id="txtDP02_0034E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0034E"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p id="sliderDP02_0035E" style="margin-top: 10px; margin-bottom: 0px; margin-left: -5px;">
                                <label for="cbDP02_0035E">
                                    <input id="cbDP02_0035E" type="checkbox">Divorced:
                                    <input type="text" id="txtDP02_0035E" readonly style="border:0; color:rgb(213,168,72); font-weight:bold; max-width: 100%">
                                </label>
                            </p>
                            <div id="slider-range-DP02_0035E"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionConsumerTracts" href="#collapse54">
                        Economic
                    </a>
                </h4>
            </div>
            <div id="collapse54" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionConsumerTracts" href="#collapse55">
                        Housing
                    </a>
                </h4>
            </div>
            <div id="collapse55" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
        <button type="button" class="btn btn-primary btn-sm" onclick="btnSearchCP()">Search</button>
        <button type="button" class="btn btn-primary btn-sm" onclick="btnResetCP()">Reset</button>
    </div>
</div>
<div class="col-sm-12">
    <label for="cbCensusTracts">
        <input id="cbCensusTracts" type="checkbox" onchange="cbCensusTracts_Change(this)">Census Tracts
    </label>
</div>
<div class="form-group" id="divSearchByGeometry" style="margin-left: 0px; width: 270px">
    <a id="btnSelectByPoint" class="btn btn-small classSelectButtons" onclick="activateSelectionTool('Point',this)">
        <img src="~/Images/DrawTools/DrawPoint.png" title="Point" class="drawTolbarButtons" /></br>Point
    </a>
    <a id="btnSelectByMultiPoint" class="btn btn-small classSelectButtons" onclick="activateSelectionTool('Multi_Point',this)">
        <img src="~/Images/DrawTools/DrawPoint.png" title="Point" class="drawTolbarButtons" /></br>MultiPoint
    </a>
    <a id="btnSelectByPolyline" class="btn btn-small classSelectButtons" onclick="activateSelectionTool('Polyline',this)">
        <img src="~/Images/DrawTools/DrawPolyline.png" title="Polyline" class="drawTolbarButtons" /></br>Polyline
    </a>
    <a id="btnSelectByPolygon" class="btn btn-small classSelectButtons" onclick="activateSelectionTool('Polygon',this)">
        <img src="~/Images/DrawTools/DrawPolygon.png" title="Polygon" class="drawTolbarButtons" /></br>Polygon
    </a>
    <a id="btnSelectByFreehandPolyline" class="btn btn-small classSelectButtons" onclick="activateSelectionTool('Freehand_Polyline',this)">
        <img src="~/Images/DrawTools/DrawFreehandPolyline.png" title="Freehand Polyline" class="drawTolbarButtons" /></br>Freehand
    </a>
    <a id="btnSelectByRectangle" class="btn btn-small classSelectButtons" onclick="activateSelectionTool('Rectangle',this)">
        <img src="~/Images/DrawTools/DrawRectangle.png" title="Ellipse" class="drawTolbarButtons" /></br>Rectangle
    </a>
</div>
<div class="form-group" style="margin-left: 0px; margin-right: 0px; width: 270px" id="divCensusTracts11Digit">
    <input type="text" id="txtCensusTracts11Digit" placeholder="Select Tract" onchange="txtCensusTracts11Digit_Change(this)" />
</div>
<div id="divResultButton">
</div>
