@using GridMvc.Html
@using System.Configuration;
@model List<NYCMappingWebApp.Models.MyReport>

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    string infoMessage = TempData["InfoMessage"] as string;
    string errorMessage = TempData["ErrorMessage"] as string;
    string targetFolder = Server.MapPath("~/Reports");
}
@if (infoMessage != null)
{
    <div class="form-group">
        <div class="alert alert-success fade in">
            @infoMessage
        </div>
    </div>
}
@if (errorMessage != null)
{
    <div class="form-group">
        <div class="alert alert-danger fade in">
            @errorMessage
        </div>
    </div>
}

@if (Model.Count > 0)
{
    <h3 style="margin-top: -25px">Reports for @User.Identity.Name</h3>

    <div class="form-group">
        @Html.Grid(Model).Columns(columns =>
       {
           columns.Add(model => model.ReportName, "ReportName")
               .Titled("Report Name")
               .SetWidth(30);
           columns.Add()
               .Encoded(false)
               .Sanitized(false)
               .SetWidth(30)
               .RenderValueAs(model => openReport(model));
       }).WithPaging(10, 6, "grid1-page").Sortable().Filterable().WithMultipleFilters()
    </div>
}
else
{
    <h3 style="margin-top: -25px">You don't have any reports saved yet</h3>
}
@helper openReport(NYCMappingWebApp.Models.MyReport model)
{
    <a href="@Path.Combine(Url.Content("~/Reports"), model.FileName)">Open</a>
}