
html, body, body-content, map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato;
}

body {
    padding-top: 94px;
    overflow: hidden;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 999;
    text-align: center;
}

#loading-image {
    position: absolute;
    z-index: 100;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.clickableRow {
    cursor: pointer;
}

table.clickableRow tr:hover {
    background-color: rgba(41, 103, 182, 0.89);
    color: #FFF;
}

table.clickableRow tr.selected {
    background-color: rgba(41, 103, 182, 0.89);
    color: #FFF;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid #c5c5c5;
}

.navbar-inverse .navbar-toggle {
    border-color: burlywood !important;
    background-color: burlywood !important;
}

.bottomPanel {
    width: 100%;
    height: 260px;
    position: absolute;
    bottom: -260px;
    overflow: auto;
    overflow-x: hidden;
    z-index: 99;
    background: white;
    opacity: 0.9;
}

.slider-bottom-arrow {
    padding: 4px;
    width: 102px;
    bottom: 0px;
    right: 0px;
    background: #d9dada;
    font: 400 12px Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    position: absolute;
    z-index: 999;
    opacity: 0.9;
}

.hideBottomPanel {
    width: 50px;
}

.showBottomPanel {
    width: 50px;
}

.myReportsIcon {
    background: url(/Images/i_saved_reports.png) no-repeat top left;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-right: 5px;
}

.signOutIcon {
    background: url(/Images/i_logout.png) no-repeat top left;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-right: 5px;
}

#ui-datepicker-div {
    z-index: 100 !important;
}

.notification {
    color: #337ab7 !important;
    text-decoration: none;
    padding: 5px 6px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

    .notification .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 10px;
        border-radius: 50%;
        background: red;
        color: white;
    }

.modal-footer {
    border-top: none !important;
}

.classSelectButtons {
    border: 1px solid #759dc0;
    padding: 2px 4px 4px 4px;
    color: #000000;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background-repeat: repeat-x;
    background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    width: 71px;
    margin-bottom: 7px;
}

.classSelectButtonsActive {
    border: 1px dotted #759dc0;
    padding: 2px 4px 4px 4px;
    color: #000000;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background-repeat: repeat-x;
    background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    width: 71px;
    margin-bottom: 7px;
    margin-left: -1px;
}

/*.ui-tabs-vertical {
    width: 55em;
}

    .ui-tabs-vertical .ui-tabs-nav {
        padding: .2em .1em .2em .2em;
        float: left;
        width: 12em;
    }

        .ui-tabs-vertical .ui-tabs-nav li {
            clear: left;
            width: 100%;
            border-bottom-width: 1px !important;
            border-right-width: 0 !important;
            margin: 0 -1px .2em 0;
        }

            .ui-tabs-vertical .ui-tabs-nav li a {
                display: block;
            }

            .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
                padding-bottom: 0;
                padding-right: .1em;
                border-right-width: 1px;
            }

    .ui-tabs-vertical .ui-tabs-panel {
        padding: 1em;
        float: right;
        width: 40em;
    }*/
